header .fondoheader {
  background-image: url(../img/portada2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 240px; }
  header .fondoheader .container-fluid a .logo {
    border-radius: 100px; }

.fondonav {
  background-color: #810000; }
  .fondonav .nav li .navcolor {
    color: #EEEBDD;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase; }
    .fondonav .nav li .navcolor:hover {
      color: #EEEBDD; }
  .fondonav .nav li .hoja-activa {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase; }

.fondofooter {
  background-color: #EEEBDD; }

.container .row .tituloMain {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem; }

.container .row .videoIndex {
  margin-bottom: 2rem; }
