.container{
    .row{
        .tituloMain{
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
        }
    }
    .row{
        .videoIndex{
            margin-bottom: 2rem;
        }
    }
}